.ellipsis{
    text-overflow: ellipsis!important;
    overflow: hidden!important;
    -webkit-line-clamp: 1!important;
    -webkit-box-orient: vertical!important;
    display: -webkit-box!important;
    word-break: break-word!important;
}
