 #eq-loader {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 1;
   background-color: #1f212d;
   z-index: 999999;
   text-align: center;
}
.eq-loader-div {
    position: absolute;
    top: 50%;
    left: 240px;
    z-index: 999999;
    bottom: 50%;
    left: 0;
    right: 0;
}
.eq-loading {
    border: 3px solid #1f212d;
    border-radius: 50%;
    border-top: 3px solid #e9ecef;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.eq-loading.dual-loader {
    border-bottom: 3px solid #e9ecef;
}